.row
  .col-sm-offset-2.col-sm-8.well
    h1.text-center Join and begin creating today
form.form-horizontal.mtl
  .form-group
    label.col-xs-2.control-label(for="penname") Pen name
    .col-xs-8
      input#penname.form-control(type="text")
  .form-group
    label.col-xs-2.control-label(for="email") Email
    .col-xs-8
      input#email.form-control(type="email")
  .form-group
    label.col-xs-2.control-label(for="password") Password
    .col-xs-8
      input#email.form-control(type="password")
  .form-group
    label.col-xs-2.control-label(for="confirm") Confirm password
    .col-xs-8
      input#email.form-control(type="password")
