.row
  .col-sm-offset-2.col-sm-8.well
    h1.text-center Sign in below
.row.fade-out(ng-show="error && !dismissed")
  .col-sm-offset-2.col-sm-8
    div.alert.alert-danger.mll.alert-dismissable
      button.close(type="button", ng-click="dismissed=true", aria-hidden="true") &times;
      | {{ error }}
form.form-horizontal.mtl(name="loginForm", blur-track="true")
  .form-group(ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$blurred }")
    label.col-xs-2.control-label(for="email") Email
    .col-xs-8
      input#email.form-control(type="text", name="email", ng-model="member.email", ng-required="true", autofocus)
      div.alert.alert-danger.mtm(ng-show="loginForm.email.$invalid && loginForm.email.$blurred") This field is required.
  .form-group(ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$blurred }")
    label.col-xs-2.control-label(for="password") Password
    .col-xs-8
      input#password.form-control(type="password", name="password", ng-model="member.password", ng-required="true")
      div.alert.alert-danger.mtm(ng-show="loginForm.password.$invalid && loginForm.password.$blurred") This field is required.
  .form-group
    .col-xs-10.col-sm-offset-2
      button.btn.btn-primary(type="submit", ng-click="submit()", ng-disabled="loginForm.$invalid") Login
