doctype html
html(lang="en",ng-app="app")
  head
    title Storyboard
    meta(name="description", content="Online story manager")
    link(rel="stylesheet", href="/assets/css/app.dark.css")
    //-link(rel="stylesheet", href="/assets/css/app.#{member.background}.css")
    base(href="/")
  body
    include ./header.jade
    div(class="content" class={container: !pageComponents.hideWrapper})
      block content
    div
      block modals
    script(src="/assets/js/app.js")
