doctype html
html(lang="en",ng-app="app")
  head
    title Storyboard
    meta(name="description", content="Online story manager")
    link(rel="stylesheet", href="/assets/css/app.#{ author ? author.theme : 'spacelab' }.css")
    base(href="/")
  body(ng-init="isDev=#{isDev}")
    block content
    script(src="/assets/js/app.js")
