doctype html
html(lang="en",ng-app="app")
  head
    title Storyboard
    meta(name="description", content="Online story manager")
    link(rel="stylesheet", href="/assets/css/app.#{ member.theme }.css")
    base(href="/")
  body(ng-init="isDev=#{isDev}")
    div(ng-include="'header.html'", ng-controller="Header")
    div(class="content" class={container: !pageComponents.hideWrapper})
      block content
    script(src="/assets/js/app.js")
