.row
  .col-xs-12
    ul.nav.nav-pills
      li(ng-class="{ active: state.includes('main.profile.personal') }")
        a(href="#", ui-sref="main.profile.personal") Personal
      li(ng-class="{ active: state.includes('main.profile.appearance') }")
        a(href="#", ui-sref="main.profile.appearance") Appearance
.row
  .col-xs-12
    hr.text-muted
.row
  .col-xs-12
    div(ui-view="")
