.circular {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background-repeat: no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.btn-row .btn {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.text-gray, .text-grey {
  color: #444;
}
