.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/") Storyboard
  .navbar-collapse.collapse.navbar-responsive-collapse
    ul.nav.navbar-nav
      li.dropdown(ng-if="$root.isDev")
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          | Dev Tools&nbsp;
          b.caret
        ul.dropdown-menu
          li: a(href="#", data-toggle="modal", data-target="#dump-modal") Data Dump
    ul.nav.navbar-nav.navbar-right(ng-show="$root.member")
      li
        a(href="#") 
          span.glyphicon.glyphicon-user
          span &nbsp;&nbsp;{{ member.penname }}
      li
        a(href="#", ng-controller="Logout", ng-click="logout()")
          span.glyphicon.glyphicon-log-out
          span &nbsp;&nbsp;Logout
    ul.nav.navbar-nav.navbar-right(ng-show="!$root.member")
      li: a(ui-sref="join") Join
      li: a(ui-sref="login") Login
