nav.navbar.navbar-fixed-top(ng-class="{ 'navbar-default': !inverse, 'navbar-inverse': inverse }", style="padding-right: 20px;")
  .navbar-header
    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href="/") Storyboard
  .navbar-collapse.collapse.navbar-responsive-collapse
    ul.nav.navbar-nav
      li.dropdown(ng-if="isDev")
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          | Dev Tools&nbsp;
          b.caret
        ul.dropdown-menu
          li: a(href="#", data-toggle="modal", data-target="#dump-modal") Data Dump
    ul.nav.navbar-nav.navbar-right(ng-show="author")
      li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          span.glyphicon.glyphicon-globe
          | &nbsp;&nbsp;Worlds&nbsp;&nbsp;
          b.caret
        ul.dropdown-menu
          li: a(href="#", ui-sref="story") New World
          li(ng-repeat="world in member.worlds")
            a(href="#", ui-sref="story/{{ world.slug }}") {{ world.name }}
      li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown")
          span.glyphicon.glyphicon-book
          | &nbsp;&nbsp;Stories&nbsp;&nbsp;
          b.caret
        ul.dropdown-menu
          li: a(href="#", ui-sref="story") New Story
          li(ng-repeat="story in member.stories")
            a(href="#", ui-sref="story/{{ story.slug }}") {{ story.title }}
      li.dropdown
        a.dropdown-toggle(href="#", data-toggle="dropdown", style="width:100%; background-image: url('{{ author.gravatar }}&s=32'); background-repeat:no-repeat; padding-left: 50px; background-position: 10px 50%; background-size: 32px;")
          span.ellipsis(style="max-width: 200px;", title="{{ author.penname }}") &nbsp;&nbsp;{{ author.penname }}&nbsp;&nbsp;
          b.caret
        ul.dropdown-menu
          li
            a(href="#", ui-sref="dashboard")
              span.glyphicon.glyphicon-home
              | &nbsp;&nbsp;Dashboard
          li
            a(href="#", ui-sref="profile.personal")
              span.glyphicon.glyphicon-user
              | &nbsp;&nbsp;Profile
          li
            a(href="#", ng-controller="Logout", ng-click="logout()")
              span.glyphicon.glyphicon-log-out
              | &nbsp;&nbsp;Logout
    ul.nav.navbar-nav.navbar-right(ng-show="!loadingAuthor && !author")
      li: a(href="#", ui-sref="join") Join
      li: a(href="#", ui-sref="login") Login
div(ng-if="isDev", ng-include="'modals/dump.html'")
